@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hồ sơ mới</title>

    <!-- Custom fonts for this template -->
    <link href="~/Template/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Template/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/Template/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.5.1.js"></script>

    <!-- CheckLogin script -->
    <script src="~/Template/jsScript/checkLogin.js"></script>

    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">

    <!-- SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Process script -->
    <script src="~/Template/jsScript/new_health_record.js"></script>

    <style>
        #Sidebar {
            position: fixed;
            display: block;
            left: 0;
            top: 0;
            z-index: 1;
        }

        #content-wrapper {
            margin-left: 224px;
        }
    </style>

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="Sidebar">
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                    <div class="sidebar-brand-icon">
                        <i class="fas fa-heartbeat"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Quản lý phòng khám</div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Home -->
                <li class="nav-item">
                    <a class="nav-link" href="/home">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Trang chủ</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    CHUNG
                </div>

                <!-- Nav Item - Patients -->
                <li class="nav-item">
                    <a class="nav-link" href="/community/patients">
                        <i class="fas fa-fw fa-user-injured"></i>
                        <span>Bệnh nhân</span></a>
                </li>

                <!-- Nav Item - Health Records -->
                <li class="nav-item">
                    <a class="nav-link" href="/community/health_records">
                        <i class="fas fa-fw fa-file-medical-alt"></i>
                        <span>Hồ sơ khám bệnh</span></a>
                </li>

                <div id="sidebarReceptionist">
                </div>

                <div id="sidebarDoctor">
                </div>

                <div id="sidebarManager">
                </div>

            </ul>
        </div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div id="Topbar">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <span class="ml-2 text-lg text-gray-600">receptionist <i class="fas fa-caret-right"></i>
                            new_health_record</span>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span id="profileName" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                                    <img id="profileAvatar" class="img-profile rounded-circle">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="/manager/profile">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cá nhân
                                    </a>
                                    <a class="dropdown-item" href="/login" data-toggle="modal"
                                        data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Đăng xuất
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>

                    <!-- Logout Modal-->
                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Sẵn sàng đăng xuất?</h5>
                                </div>
                                <div class="modal-body">Chọn "Đăng xuất" bên dưới nếu bạn đã sẵn sàng kết thúc phiên
                                    hiện tại của mình.</div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                                    <a class="btn btn-primary" href="/login">Đăng xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div style="min-height: 600px;" class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Tạo phiếu khám bệnh mới</h1>
                        <h1 id="examinationFee" class="h5 mb-0 text-gray-800"></h1>
                    </div>

                    <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#myModal" onclick="return clearTextBox();"><i class="fas fa-plus mr-3"></i>Tạo mới</button>

                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Mã số</th>
                                            <th>Ngày khám</th>
                                            <th>Thứ tự khám</th>
                                            <th>Thu ngân</th>
                                            <th>Bệnh nhân</th>
                                            <th>Phí khám</th>
                                            <th>Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">Thông tin bệnh nhân</h4>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label>Chứng minh thư</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="identityCardNumber" disabled="true"/>
                                                <div class="input-group-append">
                                                    <button id="checkPatient" onclick="return getPatientByIdentityCardNumber();" class="btn btn-dark" type="button">
                                                        <i class="fas fa-check"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Name">Tên bệnh nhân</label>
                                            <input type="text" class="form-control" id="name" placeholder="Tên bệnh nhân" disabled="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="DateOfBirth">Ngày sinh</label>
                                            <input type="date" class="form-control" id="dateOfBirth" disabled="true"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="Gender">Giới tính</label>
                                            <div class="d-flex flex-wrap">
                                                <div class="form-check mr-3">
                                                    <input class="form-check-input" type="radio" name="radioButtonGender" id="genderMale" value="0" checked disabled="true">
                                                    <label class="form-check-label">
                                                        Nam
                                                    </label>
                                                </div>
                                                <div class="form-check mr-3">
                                                    <input class="form-check-input" type="radio" name="radioButtonGender" id="genderFemale" value="1" disabled="true">
                                                    <label class="form-check-label">
                                                        Nữ
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="addButton" onclick="return createHealthRecord();">Xác nhận</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>SE100.L11 | 18521314 - 18520100 - 18521293 - 18520132</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
</body>

<!-- Bootstrap core JavaScript-->
<script src="~/Template/vendor/jquery/jquery.min.js"></script>
<script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/Template/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Template/js/demo/datatables-demo.js"></script>

</html>
